<!-- 
o wile e nimi 'langSwitch'
-->
<header>

    <div class="container-in-main">
        <a class="lang" lang="en" href="{{ page.langSwitch }}">Switch to English</a>

        <span class="utala-musi">utala musi pi <span class="no-wrap">toki pona</span></span>
        <nav>
            <ul>
            <li><a href="/index.html">utala pini</a></li>
            <li><a href="lipu-ale.html">lipu ale</a></li>
            <li><a href="sitelen-ale.html">sitelen ale</a></li>
            <li><a href="kulupu-pali.html">seme</a></li>
            </ul>
        </nav>

    </div>
    

</header>