<!-- 
o wile e nimi 'langSwitch'
-->
<header class="main-container">
    <span class="utala-musi">Artistic Toki Pona Competitions</span>
    <nav>
        <ul>
        <li><a href="utala-pini.html">Past Competitions</a></li>
        <li><a href="lipu-ale.html">All Documents</a></li>
        <li><a href="sitelen-ale.html">All Depictions</a></li>
        <li><a href="kulupu-pali.html">Working Group</a></li>
        </ul>
    </nav>
    

    <a class="lang" lang="tok" href="{{ page.langSwitch }}">o toki pona</a>
</header>