<!-- 
o wile e nimi 'langSwitch' 
TODO: aria-current
-->
<header>
    <div class="container-in-main">
        <a class="lang" lang="tok" href="{{ page.langSwitch }}">o toki pona</a>


    <span class="utala-musi">Toki Pona Art Competitions</span>
    <nav>
        <ul>
        <li><a href="/index_en.html">Past Competitions</a></li>
        <li><a href="lipu-ale.html">All Documents</a></li>
        <li><a href="sitelen-ale.html">All Depictions</a></li>
        <li><a href="kulupu-pali.html">What?</a></li>
        </ul>
    </nav>
    </div>
    

</header>

<!-- 
o wile e nimi 'langSwitch'
-->

