    <h2>ijo wawa kulupu</h2>
    <div class="card-wrapper">
      <div class="card-wrapper-child-winner">
        <a href="">jan Metan</a>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2WDtWP-2V-Yb2mw60SrNxLQhzMiDGRvizdw&s" alt="">
        <small>Big Document 2025</small>
        <small>First Place</small>

      </div>
      <div class="card-wrapper-child-winner">
        <a href="">jan Miki</a>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQy4t2oxxA51VlXx1jV3X_gAOd-X7UtFFn9tw&s" alt="">
        <small>Big Document 2025</small>
        <small>Second Place</small>
      </div>
      <div class="card-wrapper-child-winner">
        <a href="">jan Like</a>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGIV4NfXfos_TnRgqkWia3yK2IlRhOYyiH-w&s" alt="">
        <small>Big Document 2025</small>
        <small>Third Place</small>
      </div>
      
    </div>
    
