    <h2>ijo wawa kulupu</h2>
    <div class="card-wrapper">
      <div class="card-wrapper-child-winner">
        <a href="">jan Metan</a>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2WDtWP-2V-Yb2mw60SrNxLQhzMiDGRvizdw&s" alt="">
        <small>tenpo sike #MAML</small>
        <small>lipu suli #W</small>

      </div>
      {% include winner.html nimiilo="" nimi="jan Sata" sitelen="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToMOPgJSEbCTX5MCogM7_k0EYFsWwnwcyFzQ&s" nanpawan="tenpo sike #MAMTT" nanpatu="lipu lili #W"%}

      <div class="card-wrapper-child-winner">
        <a href="">jan Miki</a>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQy4t2oxxA51VlXx1jV3X_gAOd-X7UtFFn9tw&s" alt="">
        <small>tenpo sike #MAML</small>
        <small>lipu suli #T</small>
      </div>
      <div class="card-wrapper-child-winner">
        <a href="">jan Like</a>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGIV4NfXfos_TnRgqkWia3yK2IlRhOYyiH-w&s" alt="">
        <small>tenpo sike #MAML</small>
        <small>lipu suli #TW</small>
      </div>
      
    </div>
    
