

@font-face {
    font-family: "nasin nanpa";
    src: url(/assets/nasin-nanpa-2.5.1.otf);
}
@font-face {
  font-family: "Teachers";
  src: url(/assets/teachers/Teachers-Regular.ttf);
}
@font-face {
  font-family: "Teachers-Bold";
  src: url(/assets/teachers/Teachers-Bold.ttf);
}
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url(/assets/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-VariableFont_wght.ttf);
}



* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
:root{
    /*main colors*/
    --pimeja: rgb(40,0,3);
    --walo: white;
    --loje-laso: rgb(145, 65, 172);
    --walo-laso:rgb(214, 238, 255);
    --jelo: rgb(245, 245, 216);
    --laso-pimeja: rgb(8, 18, 109);
    --jelo-walo: rgb(249, 249, 235); /*focus indicator*/

    --lipu-monsi: rgb(252, 253, 246);
    --lipu-sinpin: black;

    --c1: rgb(198, 231, 249);
    --c2: rgb(245, 245, 216);
    --color-tint-opacity: 0.26;

     
    --main-max-width: 55em;
    --reading-max-width: 50em;
    --reading-comfort-width: 40em;

    --container-border-radius: 2em;
    --threedee-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --reading-font: sans-serif;


    @media (prefers-color-scheme: dark){
      --pimeja: white;
      --walo: black;
      --loje-laso: rgb(232, 189, 246);
      --walo-laso:rgb(5, 34, 56);
      --jelo: rgb(78, 78, 2);
      --laso-pimeja: rgb(192, 198, 249);
      --jelo-walo: rgb(43, 43, 2);
      --lipu-monsi: rgb(15, 16, 13);
      --lipu-sinpin: rgb(202, 198, 198);
      --c1: rgb(2, 60, 91);
      --c2: rgb(73, 68, 38);
      --color-tint-opacity: 0.10;
    }
    

}

[data-selected-font="sans"]{
  --reading-font: sans-serif;
}
[data-selected-font="serif"]{
  --reading-font: serif;
}
[data-selected-font="atkinson"]{
  --reading-font: "Atkinson Hyperlegible Next";
}
[data-selected-font="teachers"]{
  --reading-font: Teachers;
}


[data-selected-theme="walo"]{
  --pimeja: rgb(40,0,3);
  --walo: white;
  --loje-laso: rgb(145, 65, 172);
  --walo-laso:rgb(214, 238, 255);
  --jelo: rgb(245, 245, 216);
  --laso-pimeja: rgb(8, 18, 109);
  --jelo-walo: rgb(249, 249, 235); /*focus indicator*/

  --lipu-monsi: rgb(252, 253, 246);
  --lipu-sinpin: black;

  --c1: rgb(198, 231, 249);
  --c2: rgb(245, 245, 216);
  --color-tint-opacity: 0.26;
}
[data-selected-theme="pimeja"]{
  --pimeja: white;
  --walo: black;
  --loje-laso: rgb(232, 189, 246);
  --walo-laso:rgb(5, 34, 56);
  --jelo: rgb(78, 78, 2);
  --laso-pimeja: rgb(192, 198, 249);
  --jelo-walo: rgb(43, 43, 2);
  --lipu-monsi: rgb(15, 16, 13);
  --lipu-sinpin: rgb(202, 198, 198);
  --c1: rgb(2, 60, 91);
  --c2: rgb(73, 68, 38);
  --color-tint-opacity: 0.10;
}

[data-selected-theme="pimeja-walo-taso"]{
  --pimeja: rgb(9, 6, 6);
  --walo: rgb(233, 225, 225);
  --loje-laso: rgb(243, 237, 245);
  --walo-laso:rgb(7, 7, 7);
  --jelo: rgb(247, 247, 237);
  --laso-pimeja: rgb(236, 236, 241);
  --jelo-walo: rgb(2, 2, 2);
  --lipu-monsi: rgb(237, 240, 231);
  --lipu-sinpin: rgb(14, 14, 14);
  --c1: rgb(238, 240, 241);
  --c2: rgb(249, 249, 248);
  --color-tint-opacity: 0.10;
;
}

[data-selected-theme="tonsi"]{
  --pimeja: rgb(9, 6, 9);
  --walo: rgb(233, 225, 225);
  --loje-laso: #ffb1c9;
  --walo-laso: black;
  --jelo:  #ffb1c9;
  --laso-pimeja: #75d8ef;
  --jelo-walo: #75d8ef;
  --lipu-monsi: rgb(234, 231, 240);
  --lipu-sinpin: rgb(14, 14, 14);
  --c1: #75d8ef;
  --c2: #ffb1c9;
  --color-tint-opacity: 0.10;

}
[data-selected-theme="pimeja-walo-taso"], [data-selected-theme="tonsi"]{
  --dark-correction-black: black;
  --dark-correction-pale: var(--walo);
  --dark-correction-hover: rgb(41, 41, 41);
  --dark-correction-white: white;
  /*pimeja-walo-taso and tonsi have a slightly different colour balance. these custom properties are used to override ui settings that would be otherwise blacked out (mostly within hover and focus styles) but also links.*/
}



body{
    font-family: Teachers, sans-serif;
    color: var(--laso-pimeja);
    font-size: 1.20em;
}



h1, h2, h3, h4, h5, strong, .utala-musi{
  font-family: Teachers-Bold, sans-serif;
}
.layout {
    padding-inline: 2em;
    margin: auto;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr min-width;
    grid-template-rows: 1fr main 1fr;

    grid-template-areas:
    "header  header"
    "main sidebar"
    "footer footer";
    
    max-width: var(--main-max-width);

}
@media (max-width: 55em){ /*ASIDE breakpoint*/
  .layout{
    grid-template-columns: 1fr;
    

    grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";
    padding-inline: 1em;

  }


}

/*Accessibility*/
*:focus-visible {
	/* inner indicator */
	outline: 0.15em var(--laso-pimeja) solid;
  background-color: var(--dark-correction-hover, var(--jelo-walo));
	outline-offset: 0;
	/* outer indicator */
}
.skip-button:link, .skip-button:visited {
  position: absolute;
  margin: auto;
  display: none;
  width: 100%;
  height: 4em;
  text-align: center; 
  color: var(--dark-correction-black, var(--laso-pimeja));
  background-color: var(--jelo);
  padding-block: 0.5em;
  /* Ensure the Y position is set to zero and any movement on the transform property */
  transform: translateY(0);
  transition: transform 50ms ease-in;
  inset-inline: 0;
  inset-block-start: 0;
}

/* When it is not focused, transform its Y position by its total height, using a negative value, so it hides above the viewport */
.skip-button:not(:focus) {
  transform: translateY(-90rem);
}

/*suno-ala. This color theme is intentionally low contrast, aimed at people browsing at night or people who need softer colors due to attention or migraine issues.*/
[data-selected-theme="pimeja-mute"]{
  --pimeja: white;
  --walo: black;
  --loje-laso: rgb(126, 101, 134);
  --walo-laso:rgb(6, 6, 6);
  --jelo: rgb(36, 36, 3);
  --laso-pimeja: rgb(96, 98, 113);
  --jelo-walo: rgb(43, 43, 2);
  --lipu-monsi: rgb(15, 16, 13);
  --lipu-sinpin: rgb(130, 127, 127);
  --c1: rgb(1, 27, 41);
  --c2: rgb(40, 37, 21);
  --color-tint-opacity: 0;
} /*the theme also reduced the opacity of images to make them more soft.*/
[data-selected-theme="pimeja-mute"] img{
  opacity: 50%;
}


/*temani afif style*/
html {
    --s: 40px; /* control the size*/

    background:
      repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%)
       0 0/calc(4*var(--s)) calc(2*var(--s)),
      conic-gradient(#0000 50%,var(--c2) 0)
       calc(var(--s)/2) 0/calc(2*var(--s)) 1%,
      radial-gradient(var(--c2) 70%,var(--c1) 72%)
       0 0/var(--s) var(--s);
  }

/*container style applies to everything
*/
.container-in-main{
    border-radius: var(--container-border-radius);
    box-shadow: var(--threedee-box-shadow);
    background-color: var(--walo-laso);
    color: var(--laso-pimeja);
}
/*Header styles*/
header{
  grid-area: header;
  margin-block-start: 2em;


}
.container-in-main:has(.utala-musi){
  padding: 1em;
  display: grid;
  align-items: center;
  grid-template-areas:
      ". lang"
      "navigation navigation"
      "site-title site-title";
  grid-template-columns: 1fr min-content;
  gap: 0.5em;
  grid-area: header-content;
  background-image: radial-gradient(circle,rgba(240, 233, 186, var(--color-tint-opacity)) 25%, rgba(234, 201, 245, var(--color-tint-opacity)) 100%);

}

.utala-musi{
    font-size: clamp(1.8rem, -0.875rem + 9vw, 4rem);    
    font-weight: 800;
    color: var(--dark-correction-white, var(--loje-laso));
    grid-area: site-title;
    text-align: center;
    
}
nav{
    grid-area: navigation;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 40em;
  justify-content: space-evenly;
  margin: auto;
  gap: 0.75em;
}
nav li {
    list-style: none;
}
nav a, nav a:link, nav a:visited {
    text-underline-offset: 0.5em;
    text-decoration-style: solid;
    text-decoration-thickness: 0.03em;
    display: block;
    color: var(--loje-laso);
}
nav a[aria-current="page"]{
  text-decoration-thickness: 0.08em;

}
.lang {
  border-radius: 3em;
  background-color: var(--dark-correction-black,var(--walo));
  margin-block-start: -2em;
  padding: 0.5em;
  place-self: end;
  max-width: min-content;


  display: flex;
  align-items: center;
  gap:em;


}
.lang a{
  white-space: nowrap;
  text-decoration: none;
  padding-inline: 0.25em;
  color: var(--laso-pimeja);
}
.settings{
  background-color: inherit;
  border: none;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  object-fit: contain;
}
.settings svg {
  fill: var(--loje-laso);

}

.lang a:is(:hover, :focus-visible){
  text-decoration: underline solid;
}
.lang dialog {
  --modal-size-block: 50vh;
  --modal-size-inline: 60vw;
  height: 100%;
  width: 100%;
  max-height: var(--modal-size-block);
  max-width: var(--modal-size-inline);
  min-height: fit-content;
  min-width: fit-content;
  position: fixed;        
  top: calc((100vh - var(--modal-size-block)) / 2);
  left: calc((100vw - var(--modal-size-inline)) / 2);
  background-color: var(--walo);
  color: var(--dark-correction-black,
  var(--laso-pimeja));
  border-color: var(--walo);
  overflow: auto;
  padding-inline: 2em;
  padding-block: 4vh;
}
@media (max-height: 40em) or (max-width: 27em){
  .lang dialog {
    max-height: 100%;
    max-width: var(--modal-size-inline);
    position: fixed;
    opacity: 97%;
    top: 0;
    left: 0;
  }
}
.container-in-modal{
  margin: auto;
  height: 100%;
}
dialog fieldset {
  background-color: var(--walo);
  border: none;
  padding-block: 1em;
  padding-inline: 1em;
}
dialog h2{
  text-align: center;
  color: inherit;
}

.close {
  background-color: inherit;
  color: inherit;
  border: 0.2em solid var(--loje-laso);
  padding: 0.2em; 
  border-radius: 1em;
  position: absolute;
  inset-inline-end: 1em;
  inset-block-start: 1em;
}

dialog legend {
  position: relative;
  top: 1em;
  font-weight: 800;
  
}
dialog label{
  display: block;
  background-color: var(--walo);
}
.kule-selo button[aria-pressed="true"] {
  border-color: var(--laso-pimeja);
  border-radius: 1em;
}

.nasin-sitelen button[aria-pressed="true"] {
  border-color: var(--laso-pimeja);
  border-radius: 1em;
}
.nasin-sitelen{
  display: none;
}
form button{
  background-color: var(--walo);
  color: var(--pimeja);
  padding: 0.25em;
  font-size: 0.75em;
}
form button:focus{
  background-color: inherit;
}


@media (max-width: 50rem){
  .container-in-main:has(.utala-musi){
    grid-template-areas:
    ". lang"
    "site-title site-title"
    "navigation navigation";
  }
  nav ul {
    justify-content: center;
  }
}
@media (max-width: 40rem){
  .container-in-main:has(.utala-musi){
    grid-template-columns: 1fr;
    gap: 1em;
  }
}


/*Main styles*/
main{
    grid-area: main;
    align-self: start;

}
main section {
  padding: 2em;
  line-height: 1.5em;


}
h1{
    color: var(--laso-pimeja);
    max-width: fit-content;
    padding-block: 0.2em;
}
h2{
  color: var(--loje-laso);
  font-size: 1.3em;
}
main p, main ul, main h2{
    padding-block: 0.75em;
}
main li {
  margin-inline-start: 1em;
} 
a, a:visited {
  color: var(--loje-laso);
}
img{
  max-width: 100%;
}

/*ASIDE STYLES*/
aside {
    grid-area: sidebar;
    padding-block-end: 1em;
    display: flex; 
    flex-direction: column;
}
aside h2{
   margin: 0 auto;
   flex-grow: 0;
    width: min-content;
    color: var(--laso-pimeja);
    text-align: center;
    padding-block: 0.75em;
    font-size: 1.2em;

}
.card-wrapper{
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}
.card-winner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
    border-top: 0.2em solid var(--jelo);
    min-height: 8em;
}


.card-winner:nth-of-type(2n+1){
  background-image: radial-gradient(circle,rgba(240, 233, 186, var(--color-tint-opacity)) 25%, rgba(246, 231, 252, var(--color-tint-opacity)) 100%);
}
.card-winner:nth-of-type(2n){
  background-image: radial-gradient(circle,rgba(249, 246, 224, var(--color-tint-opacity)) 25%, rgba(244, 245, 188, var(--color-tint-opacity)) 100%);

}

.card-winner img{
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
    border: 0.4em solid grey;
}
.card-winner a{
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: var(--loje-laso);
    max-width: 8em;
    white-space: wrap;
    text-align: center;
}
@media (max-width: 55em){ 

  .card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    max-height: 450px;

  }
  aside h2{
    width: auto;
    padding: 0.25em;

  }
  .card-winner, .card-winner:last-of-type {
    border: none;
  }
  .card-winner{
    flex: 40%;
  }


}

/*LIPU STYLES
*/
section h1{
  font-size: 1.5em;
}
.layout:has(.content) .container-in-main {
  margin-inline: 2em;
}
.layout:has(.content) {
  padding: 0;
  grid-template-areas:
  "header"
  "main"
  "footer";
  max-width: var(--reading-max-width);

}

.content {
  margin-block-start: 2em;
  margin-inline: auto;
  /*box-shadow: 0 0 0 100vmax var(--lipu-sinpin);
  border-block: 3em solid var(--lipu-sinpin);
  clip-path: inset(0 -100vmax);
  */
  box-shadow: var(--threedee-box-shadow);

  background-color: var(--lipu-monsi);
  color: var(--lipu-sinpin);
  padding-inline: 4em;
  max-width: var(--reading-comfort-width);
  font-family: var(--reading-font);
}
main:has(.content){
  max-width: 100%;
}
/*CONTENT MAIN STYLES*/

.content :is(h1,h2,h3,h4,h5, strong){
  color: inherit;
  font-family: var(--reading-font);

}

@media (max-width: 40rem){
  .content {
    padding-inline: 1em;
  }
}
@media (max-width: 20rem){
  .content {
    padding-inline: 0.5em;
  }
}

.content hr {
  margin-block: 2em;
}
.content a, .content a:visited{
  color: var(--dark-correction-black, var(--loje-laso));

}
.content a:focus-visible, .content a:visited:focus-visible{
  background-color: var(--dark-correction-pale);
  outline-color: var(--dark-correction-black);
}




/*STYLES FOR BROWSING ENTRIES*/

.ijo-mute{
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  list-style: none;
  row-gap: 1em;
  column-gap: 0.5em;
  padding: 0.5em;
  max-width: 100%;
}
.ijo-mute li{
  border: 0.1em dotted var(--loje-laso);
  padding: 1em;
  border-radius: var(--container-border-radius);
  margin: 0;
}
.ijo-mute a{
  color: var(--laso-pimeja);
  word-break:break-word;
}
.ijo-mute span:first-of-type{
  display: block;
  text-align: right;
  font-style: italic;
  width: 100%;
  border-bottom: 0.1em dotted var(--loje-laso);
  margin-bottom: 1em;
  
}
.ijo-mute span:first-of-type span{
  display: inline;
  border-bottom: none;
}




/*FOOTER*/
footer {
    grid-area: footer;
    margin-block-end: 2em;
    padding: 1em;
    
}
.container-in-footer {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;

}
footer h2{
  text-align: center;
  padding: 1em;
}
footer a{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: 700;
  padding-bottom: 0.3em;
  text-decoration: none;
  border-bottom: 0.03em solid var(--loje-laso);
  /*
  text-underline-offset: 0.5em;
  text-decoration-style: solid;
  text-decoration-thickness: 0.03em;*/


}
footer span {
  width: fit-content;
  text-align: center;
  padding: 0.25em;
}
footer svg{
  fill: var(--loje-laso);
}

/*UTILITY*/
.no-wrap{
  white-space: nowrap;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


@media print{
  html:has(.content){
    background: none;

  }
  .layout:has(.content) :is(header, footer){
    display: none;
  }

  .layout:has(.content) :is(section), .layout:has(.content) .container-in-main, .front-matter h1{
    padding: 0;
    max-width: none;
    margin: 0;
    background-color: white;
    box-shadow: none;
    border-radius: 0;
    color: black;
    font-family: var(--reading-font);
  }
  .front-matter{
    border-block-end: 0.2em solid black;
  }
  .do-not-print{
    display: none;
  }
}
