

@font-face {
    font-family: "nasin nanpa";
    src: url(/assets/nasin-nanpa-2.5.1.otf);
}
@font-face {
  font-family: "Teachers";
  src: url(/assets/teachers/Teachers-Regular.ttf);
}
@font-face {
  font-family: "Teachers-Bold";
  src: url(/assets/teachers/Teachers-Bold.ttf);
}



* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
:root{
    /*main colors*/
    --pimeja: rgb(40,0,3);
    --walo: white;
    --loje-laso: rgb(145, 65, 172);
    --walo-laso:rgb(214, 238, 255);
    --jelo: rgb(245, 245, 216);;
    --laso-pimeja: rgb(8, 18, 109);

    --c1: rgb(198, 231, 249);
    --c2: rgb(245, 245, 216);
    --color-tint-opacity: 0.26;

    
    --main-max-width: 55em;
    --reading-max-width: 50em;
    --container-border-radius: 2em;
    --threedee-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
    @media (prefers-color-scheme: dark){
      --pimeja: white;
      --walo: black;
      --loje-laso: rgb(232, 189, 246);
      --walo-laso:rgb(5, 34, 56);
      --jelo: rgb(78, 78, 2);;
      --laso-pimeja: rgb(192, 198, 249);
  
      --c1: rgb(2, 60, 91);
      --c2: rgb(73, 68, 38);
      --color-tint-opacity: 0.17;

  
    }

}
body{
    font-family: Teachers, sans-serif;
    color: var(--laso-pimeja);
    font-size: 1.35em;
}
h1, h2, h3, h4, h5, strong, .utala-musi{
  font-family: Teachers-Bold, sans-serif;
}
.layout{
    padding-inline: 2em;
    margin: auto;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr min-width;
    grid-template-rows: 1fr main 1fr;

    grid-template-areas:
    "header  header"
    "main sidebar"
    "footer footer";
    
    max-width: var(--main-max-width);

}
@media (max-width: 45em){ /*ASIDE breakpoint*/
  .layout{
    grid-template-columns: 1fr;
    

    grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";
  }
}
/*temani afif style*/
html {
    --s: 40px; /* control the size*/

    background:
      repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%)
       0 0/calc(4*var(--s)) calc(2*var(--s)),
      conic-gradient(#0000 50%,var(--c2) 0)
       calc(var(--s)/2) 0/calc(2*var(--s)) 1%,
      radial-gradient(var(--c2) 70%,var(--c1) 72%)
       0 0/var(--s) var(--s);
  }

/*container style applies to everything
*/
.container-in-main{
    border-radius: var(--container-border-radius);
    box-shadow: var(--threedee-box-shadow);
    background-color: var(--walo-laso);
    color: var(--laso-pimeja);

}
/*Header styles*/
header{
  grid-area: header;
  margin-block-start: 2em;


}
.container-in-main:has(.utala-musi){
  padding: 1em;
  display: grid;
  align-items: center;
  grid-template-areas:
      ". lang"
      "navigation navigation"
      "site-title site-title";
  grid-template-columns: 1fr min-content;
  gap: 0.5em;
  grid-area: header-content;
  background-image: radial-gradient(circle,rgba(240, 233, 186, var(--color-tint-opacity)) 25%, rgba(234, 201, 245, var(--color-tint-opacity)) 100%);

}

.utala-musi{
    font-size: clamp(1.8rem, -0.875rem + 9vw, 4rem);    
    font-weight: 800;
    color: var(--loje-laso);
    grid-area: site-title;
    text-align: center;
    
}
nav{
    grid-area: navigation;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 40em;
  justify-content: space-between;
  margin: auto;
  gap: 0.5em;
}
nav li {
    list-style: none;
    margin: auto;
}
nav a{
    text-underline-offset: 0.5em;
    text-decoration-style: solid;
    text-decoration-thickness: 0.03em;
    display: block;
    color: var(--laso-pimeja);
}
.lang {
  border-radius: 3em;
  background-color: var(--walo);
  margin-block-start: -2em;
  padding: 0.5em;
  place-self: end;
  max-width: min-content;


  display: flex;
  align-items: center;
  gap:em;


}
.lang a{
  white-space: nowrap;
  text-decoration: none;
  padding-inline: 0.25em;
  color: var(--laso-pimeja);
}
.settings{
  background-color: inherit;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  object-fit: contain;
}
.settings:is(:hover, :focus-visible) {
  box-shadow: 0 0 0 0.2em var(--walo);
  mix-blend-mode: difference;
}
.lang a:is(:hover, :focus-visible){
  text-decoration: underline solid;
}
.lang dialog {
  --modal-size-block: 50vh;
  --modal-size-inline: 60vw;
  height: 100%;
  width: 100%;
  max-height: var(--modal-size-block);
  max-width: var(--modal-size-inline);
  min-height: fit-content;
  min-width: fit-content;
  position: fixed;        
  top: calc((100vh - var(--modal-size-block)) / 2);
  left: calc((100vw - var(--modal-size-inline)) / 2);
  background-color: var(--walo);
  color: var(--laso-pimeja);
  border-color: var(--walo);
  overflow: auto;
  padding-inline: 2em;
  padding-block: 4vh;


}
.modal-container{
  margin: auto;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: static;
}
dialog fieldset {
  background-color: var(--walo);
  border: none;
  padding-block: 1em;
  padding-inline: 1em;
  width: fit-content;
  margin: auto;
}
dialog h2{
  margin: auto;
  text-align: center;
}

dialog button{
  margin: auto;
  margin-inline-end: 0;

}

dialog legend {
  position: relative;
  top: 1em;
  font-weight: 800;
  
}
dialog label{
  display: block;
  background-color: var(--walo);
}



@media (max-width: 50rem){
  .container-in-main:has(.utala-musi){
    grid-template-areas:
    ". lang"
    "site-title site-title"
    "navigation navigation";

  }
}
@media (max-width: 40rem){
  .container-in-main:has(.utala-musi){
    grid-template-columns: 1fr;
    gap: 1em;
  }
}







/*Main styles*/
main{
    grid-area: main;
    padding: 2em;
    align-self: start;

}
h1{
    color: var(--laso-pimeja);
    max-width: fit-content;
    padding-block: 0.2em;
}
h2{
  color: var(--loje-laso);
  font-size: 1.3em;
}
main p, main ul, main h2{
    padding-block: 0.75em;
}
main li {
  margin-inline-start: 1em;
}
a, a:visited {
  color: var(--loje-laso);
}


/*ASIDE STYLES*/
aside {
    grid-area: sidebar;
    padding-block-end: 1em;
    display: flex; 
    flex-direction: column;
}
aside h2{
    width: min-content;
    color: var(--laso-pimeja);
    text-align: center;
    margin: auto;
    padding-block: 0.75em;
    font-size: 1.2em;

}
.card-wrapper{
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}
.card-wrapper-child-winner{
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    padding: 0.5em;
    border-top: 0.2em solid var(--jelo);
}


.card-wrapper-child-winner:nth-of-type(2n+1){
  background-image: radial-gradient(circle,rgba(240, 233, 186, var(--color-tint-opacity)) 25%, rgba(246, 231, 252, var(--color-tint-opacity)) 100%);
}
.card-wrapper-child-winner:nth-of-type(2n){
  background-image: radial-gradient(circle,rgba(249, 246, 224, var(--color-tint-opacity)) 25%, rgba(244, 245, 188, var(--color-tint-opacity)) 100%);

}

.card-wrapper-child-winner img{
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
    border: 0.4em solid grey;
}
.card-wrapper-child-winner a{
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: var(--loje-laso);
}
@media (max-width: 45em){ 

  .card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
    max-height: 450px;

  }
  aside h2{
    width: auto;
    padding: 0.25em;

  }
  .card-wrapper-child-winner, .card-wrapper-child-winner:last-of-type {
    border: none;
  }
  .card-wrapper-child-winner:not(:first-of-type){
    
  }
  .card-wrapper-child-winner{
    flex: 40%;
  }





}




/*FOOTER*/
footer {
    grid-area: footer;
    margin-block-end: 2em;
    padding: 1em;
    
}
.container-in-footer {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;

}
footer h2{
  text-align: center;
  padding: 1em;
}
footer a{
  display: flex;
  flex-direction: row-reverse;
  border: 0.4em solid var(--loje-laso);
  border-radius: var(--container-border-radius);
  align-items: center;
  text-decoration: none;
  font-weight: 700;

}
footer span {
  width: fit-content;
  text-align: center;
  border-inline-start: 0.4em solid var(--loje-laso);
  padding: 0.25em;
}
footer svg{
  fill: var(--loje-laso);
}

/*UTILITY*/
.no-wrap{
  white-space: nowrap;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

