<!DOCTYPE html>
<html lang="{{ page.toki }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/kule-tu.css">
    <title>{{ page.title }} | utala musi</title>
    <meta property="og:description" content="ma pona pi toki pona la utala musi li lon! o utala o lukin e musi pi tenpo pini!">
    <meta property="og:site_name" content="utala musi pi ma pona">
  </head>
  <body>
    <a class="skip-button" href="#skip-target-main">
      {% if page.toki == "tok" %}
      o weka e sewi lipu
      {% else %}
      Skip Navigation
      {% endif %}
    </a>
    {{ content }}
  </body>
  <script src="/scripts/addSkipTarget.js"></script>
</html>
