---
layout: default
title: {{ page.title }}
---

<div class="layout">
    {% include lawa.html %}


    <main>
      <section class="front-matter container-in-main">
        <h1>{{ page.title }}</h1>
      

        {% if page.jan_pali %} 
        <p><em>tan {{ page.jan_pali }}</em></p>
        {% endif %}
      
        <p><strong>mute nimi</strong>: {{ page.suli_lipu }}, {{ page.mute_nimi }}</p>
      
        <details>
          <summary>o sona e ken ike lon lipu ni</summary>
          <ul>
            {% for item in page.ken_ike %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </details>
        
        <p markdown="1"> <em>{{ page.sona_namako }}</em></p>



      </section>
      <section class="content">
        {% unless page.without-title %}
        <h1 class="do-not-print">{{ page.title }}</h1>
        {% endunless %}        {{ content }}
      </section>      
    </main>

  {% include noka.html %}
</div>


<script src="/scripts//nimiNanpa.js"></script>
<script src="/scripts/font.js"></script>
