---
layout: default
---

<div class="layout">
    {% include lawa.html %}


    <main class="">
        <section class="container-in-main">
            {{ content }}

        </section>
    </main>
  <aside class="container-in-main">
    {% if page.toki == "tok" %}
    {% include winner-container_tok.html %}
    {% elsif page.toki == "en" %}
    {% include winner-container_en.html %}
    {% elsif page.toki == "tok-sp" %}
    {% include winner-container_sp.html %}
    {% endif %}
  </aside>



  {% include noka.html %}
</div>


<script src="/scripts/winnerDynamicHeight.js"></script>
<script src="/scripts//nimiNanpa.js"></script>
